# dig API options -- block/item classification lists #
#
# Shipped defaults. Copied to dig_options.cfg on first install only --
# pkg never overwrites an existing dig_options.cfg. Edit the live
# dig_options.cfg (or run `dig-cli edit`) to change your turtle's
# classification lists; this file is just the starting point.

[outputblocks]
chest
storage
box
turtle
hopper
dropper
backpack
[/outputblocks]

[blacklist]
chest
spawn
hopper
dropper
portal
turtle
hive
openblocks:grave
[/blacklist]

[buildingblocks]
cobblestone
minecraft:stone
dirt
netherrack
basalt
soul_s
magma_block
terracotta
rock
sandstone
andesite
diorite
granite
marble
bricks
smooth_stone
glass
[/buildingblocks]

[dumplist]
cobblestone
deepslate
dirt
gravel
andesite
diorite
granite
netherrack
soul_s
magma_block
rotten_flesh
rock
marble
limestone
soapstone
dolomite
gabbro
scoria
[/dumplist]

[fluids]
water
lava
acid
poison
sewage
sludge
blood
[/fluids]

[ores]
ore
ancient_debris
[/ores]
